.banner{
    top: 0;
    position: sticky;
    width: 20%;
    flex: 1;
    height: fit-content;
}
.left{
    background-color: aqua;
}
.right{
    background-color: gold;
}

#wrapper{
    display: flex;
}

#center{
    background-color: darkseagreen;
    width: 60%;
}