body{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
}

.square {
  width: 300px;
  aspect-ratio: 1 / 1;
  overflow: hidden;
  border-radius: 50%;
}

.square img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  object-position: center;
}

.grey{
    opacity: 0.4;
    filter: alpha(opacity=40);
}