*{
    background-color: yellow;
}

html,body{
    background-color:lightgreen;
}

p {
    background-color: red;
}
.green{
    background-color: hsl(79 100% 60%);
}
#p1{
    background-color: blue;
}
h2 {
    background-color: orange;
}
p.pink{
    background-color: pink;
}

div strong{
    background-color: cyan;
}

div > strong{
    background-color: grey;
}

.afstanden{
    margin: 0
}