p#nederlands {
    background-color: black;
    color: red;
}

p#chinees {
    background-color: red;
    color: yellow;
}

td{
    background-color: green;
}

td#xyz{
    background-color: lightblue;
}

td.abc{
    background-color: #9e2198;
}

td.uvw{
    color: blue;
}

.fysica{
    background-color: aqua;
}