#a1{
    background-color: red;
}

.red{
    background-color: red;
}

#teksten{
    background-color: pink;
}

.textRed{
    color: red;
}

.green{
    background-color: green;
}

tr>td:nth-child(2){
    background-color: yellow;
}